/* Bayron */
body {
    height: 99vh;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.main-container {
    height: 99%;
    display: grid;
    grid-template-columns: 75% 1fr;
    grid-template-rows: 1fr;
    grid-gap: 5px;
    padding: 5px;
}

.menu{
    height: 100vh;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow-y: auto;
    overflow-x: hidden;
}

.img_rana{
    height: 30px;
}